{% extends "base.html" %}
{% block title %}Criar Tópico{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }
  </style>
{% endblock %}
{% block content %}
    <h1>Adicionar Assunto</h1>

    <form>
        <div class="mb-3">
          <label for="titulo" class="form-label">Título</label>
          <input type="text" class="form-control" id="titulo" name="titulo">
        </div>
        <div class="mb-3">
          <label for="categoria" class="form-label">Categoria</label>
          <select class="form-control" id="categoria" name="categoria">
            <option value="Ambiental">Ambiental</option>
            <option value="Governanca">Governança</option>
            <option value="Social">Social</option>
        </select>
        </div>
        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <input type="text" class="form-control" id="descricao" name="descricao">
        </div>
        <button onClick="{{ url_for('add_topico') }}"type="submit" class="btn btn-primary">Adicionar</button>
        <button onClick="{{ url_for('index') }}" type="cancel" class="btn btn-primary">Cancelar</button>
    </form>
{% endblock %}
    
