{% extends "base.html" %}
{% block title %}{{ topico.titulo }} - Detalhes {% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }
  </style>
{% endblock %}
{% block content %}
  <h1>{{ topico.titulo }}</h1> 
  <div class="row">
      <div class="col-md-2 fw-bold">Categoria:</div>
      <div class="col">{{ topico.categoria }}</div>
  </div>
  <div class="row">
      <div class="col-md-2 fw-bold">Descrição:</div>
      <div class="col">{{ topico.descricao }}</div>                
  </div>
  <div class="row">
      <div class="col-md-2 fw-bold">Nota:</div>
      <div class="col"></div>                
  </div>

  <h4 class="mt-5">Reviews</h4>

  <p>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addReviewModal">
          Adicionar Review
      </button>
  </p>

<!-- Button trigger modal -->
    {% if reviews %}
        <table class="table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Usuário</th>
                    <th>Nota</th>
                    <th>Review</th>
                </tr>
            </thead>
            <tbody>
                {% for review in reviews %}
                    <tr>
                        <td>{{ review.data_review }}</td>
                        <td>{{ review.usuario }}</td>
                        <td>{{ review.nota }}</td>
                        <td>{{ review.texto_review }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Ainda não há reviews para este tópico.</p>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="addReviewModal" tabindex="-1" aria-labelledby="addReviewModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addReviewModalLabel">Adicionar Review</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
              <form method="POST" action="{{ url_for('add_review', id=topico.id) }}">

              <div class="modal-body">

                <div class="mb-3">                        
                    <label for="usuario" class="form-label fw-bold">Nome e Sobrenome</label>
                    <input type="text" class="form-control" id="usuario" name="usuario">
                  </div>
                  <div class="mb-3">
                    <label class="form-label fw-bold">Nota</label>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="nota" id="nota1" value="1">
                        <label class="form-check-label" for="nota1">1</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="nota" id="nota2" value="2">
                        <label class="form-check-label" for="nota2">2</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="nota" id="nota3" value="3">
                        <label class="form-check-label" for="nota3">3</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="nota" id="nota4" value="4">
                        <label class="form-check-label" for="nota3">4</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="nota" id="nota5" value="5">
                        <label class="form-check-label" for="nota3">5</label>
                      </div>
                  </div>
                  <div class="mb-3">
                      <label for="texto_review" class="form-label fw-bold">Review</label>
                      <input type="text" class="form-control" id="texto_review" name="texto_review">
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
              </div>
        </form>
        </div>
      </div>
    </div>

{% endblock %}
